.filter-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}

.filter-tags .tag {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: $gray-medium-light;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: $blue-gray-color;
}

.filter-tags .tag.selected {
  background-color: $navy;
  color: white;
}
