.instructions {
  .editor-tabs {
    display: flex;
    margin-bottom: 10px;

    button {
      padding: 8px 12px;
      border: 1px solid #ddd;
      background-color: #f1f1f1;
      cursor: pointer;
      font-size: 14px;
      margin-right: 5px;

      &.selected {
        background-color: #007bff;
        color: #fff;
      }
    }
  }

  textarea {
    height: 100px;
  }
}
