// Colors

$gray-dark: #454c52;
$gray-light: #ced2d6;
$gray-medium-light: #e6e6e6;
$gray-ultralight: #f0f0f0;
$gray-cool: #efefef;
$gray-diable: #e9e9e9;
$gray-blur-light: rgba(103, 110, 118, 0.08);
$gray-blur-medium: rgba(103, 110, 118, 0.16);
$gray-text-color: #9ea5ad;

$white-soft: #f5f5f5;
$white-smoke: #ebffff;
$white-gray: #f1f2f4;
$primary-white: #ffffff;
$secondary-white: #fafafa;

$primary-green: #53b483;
$primary-blue: #040c2d;
$primary-light-blue: #f4f7fb;

$blue: #4194f3;
$navy: #0c3953;
$blue-gray-color: #444c4d;
$blue-primary-disable: #1c2442;
$black-blur-light: rgba(0, 0, 0, 0.12);
$red: #cd3636;
$errorColor: #f54135;
$reject: #e74358;
$secondary-reject: #cd3636;
$red-blur-light: rgba(243, 65, 65, 0.08);
$red-blur-medium: rgba(243, 65, 65, 0.4);
$dark-red: #781f1b;
$hover-red: #8b0000;

$shadow-color: rgba(0, 0, 0, 0.3);
$button-text-color: #fff;

$success-bg: #d9f9e6;
$progress-color: #c8811a;

$progress-bg: #fbf2cb;
$reject-bg: #fde9e9;
$error-message-background: #fffbfa;

// Text Colors

$color-text-black: #4a4848;
$color-text-primary: #454c52;
$color-text-secondary: #676e76;
$color-text-light: #808080;
$color-text-help: #a0a0a0;
$color-text-black: #24292e;

// Shadows

$input-field-box-shadow: 0px 1px 1px $black-blur-light,
  0px 0px 0px 1px $gray-blur-medium, 0px 2px 5px $gray-blur-light;

$error-message-box-shadow: 0px 1px 1px $black-blur-light,
  0px 0px 0px 2px $red-blur-medium, 0px 2px 5px $red-blur-light;

$main-cta-box-shadow: 0px 2px 0px 1px $gray-blur-medium;

$long-list-box-shadow: 0px 1px 1px 0px $black-blur-light,
  0px 0px 0px 1px $gray-blur-medium, 0px 2px 5px 0px $gray-blur-light;

$ok-button-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

$tender-btn-open-shadow: 0px 2px 5px 0px rgba(103, 110, 118, 0.08),
  0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

// Blur Shadows

$black-blur-light: rgba(0, 0, 0, 0.12);
$black-blur-dark: rgba(0, 0, 0, 0.64);

// Borders

$primary-border: #2f9461;
$color-border-default: #ccc;
$color-border-focus: $primary-blue;
$border-radius: 7px;
$golden-border: #daa520;
$gold-border: #b89973;
// Dimensions & Layout

$input-padding: 1px 1px 1px 6px;
$input-height: 20px;
$input-margin: 8px 0;
$transition-speed: 0.3s;

// Typography

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/static/Inter-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  src: url('../../assets/fonts/Cinzel/static/Cinzel-Medium.ttf')
    format('truetype');
}

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Cinzel', sans-serif;

// Font Weights

$font-weight-light: 100;
$font-weight-medium-light: 300;
$font-weight-sm: 400;
$font-weight-normal: 500;
$font-weight-medium: 600;
$font-weight-bold: bold;

// Font Sizes

$font-size-huge: 120px;
$font-size-very-large: 96px;
$font-size-larger: 72px;
$font-size-large: 60px;
$font-size-big: 48px;
$font-size-medium-large: 36px;
$font-size-medium: 30px;
$font-size-small-medium: 24px;
$font-size-small: 20px;
$font-size-smaller: 18px;
$font-size-base: 16px;
$font-size-smaller-medium: 14px;
$font-size-extra-small: 12px;
$font-size-tiny: 10px;

// Breakpoints

$breakpoint-xs: 480px; // Extra small devices
$breakpoint-sm: 576px; // Small devices (mobiles)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)

// Container Widths

$container-width-sm: 540px;
$container-width-md: 720px;
$container-width-lg: 960px;
$container-width-xl: 1140px;

// Z-index Levels

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
